@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primary-blue: #007AFF;
$primary-btn-blue: #007AFF;
$primary-white: white;
$fill-color: #b3d1ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

button {
    background-color: $primary-blue;
    color: $primary-white;
    border: none;
    border-radius: 25px;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    width: 250px;

    &:hover {
        background-color: $primary-btn-blue;
    }
}

#actions {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: $primary-white;

    .head-actions {
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 40px;
            font-weight: 600;
        }
    }

    .items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 60px;

        .item-link {
            background-color: #f7f7f7;
            border-radius: 16px;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;

            img {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                border: 2px solid #ccc;
                margin-bottom: 12px;
            }

            h3 {
                font-size: 16px;
                font-weight: 600;
                color: #000;
                margin-top: 10px;
            }

            &:hover {
                background-color: #ebebeb;
            }
        }
    }
}

#info {
    background-color: #e6f0fc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 100px;
    gap: 40px;
    margin-bottom: 50px;

    .info-p {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 28px;
            font-weight: 700;
            color: #5f7db0;
            margin-bottom: 40px;
            line-height: 1.4;
        }
        p {
            font-size: 17px;
            color: #333;
            margin-bottom: 40px;
        }
    }

    .info-list {
        display: flex;
        flex-direction: column;
        justify-content: center;

        ul {
            list-style: none;

            li {
                display: flex;
                align-items: center;
                padding: 18px 0;
                border-bottom: 1px solid $fill-color;
                font-weight: 600;
                color: #000;
                gap: 12px;
                margin: 20px;
                svg {
                    width: 20px;
                    height: 100%;
                    fill: $fill-color;
                }

                p {
                    font-size: 24px;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}